---
import type { Term } from "@lib/term";
import { fetchDepartments, fetchTerms } from "@lib/api";

import Layout from "../../layouts/Layout.astro";
import DepartmentList from "../../components/department/DepartmentList.svelte";

export async function getStaticPaths() {
    const terms: Term[] = await fetchTerms();

    return terms.map((term) => ({
        params: { term: term.id },
        props: { terms, term },
    }));
}

const { terms, term } = Astro.props;
const departments = await fetchDepartments();
---

<Layout terms={terms} term={term}>
    <h2 class="dark:text-white text-xl font-semibold mb-4">Departments</h2>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <DepartmentList client:load {departments} {term} />
    </div>
</Layout>
