---
import type { Term } from "@lib/term";
import { fetchDepartments, fetchTerms } from "@lib/api";

import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
    const terms: Term[] = await fetchTerms();

    return terms.map((term) => ({
        params: { term: term.id },
        props: { term },
    }));
}

const { term } = Astro.props;
const departments = await fetchDepartments();
---

<Layout term={term}>
    <h2 class="dark:text-white text-xl font-semibold mb-4">Departments</h2>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        {
            departments.map((department) => (
                <a
                    href={
                        "/scheduler/" +
                        term.id +
                        "/subject/" +
                        department.id.toUpperCase()
                    }
                >
                    <div class="p-4 rounded-sm dark:text-white dark:bg-black/10 hover:bg-gray-50 dark:hover:bg-black/20 border-1 border-gray-300 dark:border-gray-600">
                        <b class="mr-2">{department.id}</b>
                        <span>{department.name}</span>
                    </div>
                </a>
            ))
        }
    </div>
</Layout>
