---
import { fetchTerms } from "@lib/api";
import Layout from "../layouts/Layout.astro";

const terms = await fetchTerms();
const term = terms?.length > 0 ? terms[0] : undefined;
const latestUrl = `/scheduler/${term?.id}/schedule`;
---

<head>
    {
        term && term?.id !== "" ? (
            <meta http-equiv="refresh" content={`0; url=${latestUrl}`} />
        ) : (
            <title>Uh oh.</title>
        )
    }
</head>

<Layout term={term}>
    <p class="dark:text-white">
        Please wait while you are redirected to the latest term.

        <a class="font-bold" href={latestUrl}>Click here</a> if you are not redirected.
    </p>
</Layout>
