---
import Switcher from "@components/navbar/Switcher.svelte";

const { term: currentTerm, terms } = Astro.props;
const baseUrl = "/" + currentTerm?.id;
---

<header
    class="flex justify-between items-center p-2 bg-[#154734] text-white dark:bg-gray-900"
>
    <div class="flex gap-2">
        <a
            href={baseUrl + "/schedule"}
            class="p-2 rounded-sm hover:bg-black/10"
        >
            <span class="font-bold">University of Vermont</span>
        </a>

        <Switcher client:load terms={terms} term={currentTerm} />
    </div>
    <div class="flex gap-2">
        <a
            href={baseUrl + "/schedule"}
            class="p-2 rounded-sm hover:bg-black/10"
        >
            <span>Schedule</span>
        </a>
        <a href={baseUrl} class="p-2 rounded-sm hover:bg-black/10">
            <span>Catalog</span>
        </a>
    </div>
</header>
